<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ego14t.xinmusic.mapper.MusicMapper">

    <!-- 查询歌曲的基本信息 -->
    <select id="getMusicInfo" resultType="com.ego14t.xinmusic.entity.MusicEntity">
        SELECT * FROM xinmusic_music t WHERE t.music_id = #{musicId}
    </select>

    <!-- 搜索歌曲带收藏状态 -->
    <select id="searchUserList" resultType="com.ego14t.xinmusic.newpojo.SearchUserList">
        SELECT
            a.*
            <if test="defaultId != null and defaultId != ''">
            ,b.music_id AS collect
            </if>
        FROM
            xinmusic_music a
            <if test="defaultId != null and defaultId != ''">
            LEFT JOIN xinmusic_musiclist_music b ON  a.music_id = b.music_id
            and b.musiclist_id = #{defaultId}
            </if>
        WHERE
            a.music_name LIKE CONCAT('%',#{keyword},'%')
    </select>

    <!-- 搜索用户的默认歌单 -->
    <select id="getDefaultList" resultType="com.ego14t.xinmusic.entity.MusicListEntity">
        SELECT
            a.*
        FROM
            xinmusic_musiclist a
        WHERE
            a.create_user_id = #{createUserId}
            AND a.`status` = 0
    </select>

    <select id="getMusiclistMusic" resultType="com.ego14t.xinmusic.entity.MusicListMusicEntity">
        SELECT
            a.*
        FROM
            xinmusic_musiclist_music a
        WHERE
            a.musiclist_id = #{musiclistId}
            AND a.music_id = #{musicId}
    </select>

    <delete id="delMusicFromList">
        DELETE FROM xinmusic_musiclist_music t WHERE t.musiclist_id = #{musiclistId} AND t.music_id = #{musicId}
    </delete>

    <select id="getUserList" resultType="com.ego14t.xinmusic.newpojo.SearchUserList">
        SELECT
            a.*,
            b.music_id AS collect
        FROM
            xinmusic_music a
            LEFT JOIN xinmusic_musiclist_music b ON b.music_id = a.music_id
            AND b.musiclist_id = #{defaultId}
            INNER JOIN xinmusic_musiclist_music c ON c.musiclist_id = #{musiclistId}
            AND c.music_id = a.music_id;
    </select>

    <insert id="addMusicToList" parameterType="com.ego14t.xinmusic.entity.MusicListMusicEntity">
        INSERT INTO xinmusic_musiclist_music (musiclist_id,music_id,create_time) VALUES (#{musiclistId},#{musicId},#{createTime})
    </insert>

</mapper>