<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ego14t.comments.mapper.CommentsMapper">
    <insert id="createComments" parameterType="com.ego14t.comments.entity.CommentsEntity">
        INSERT INTO xinmusic_comments
        (id,
        show_id,
        from_user_id,
        to_user_id,
        to_id,
        content,
        `like`,
        status,
        create_time)
        VALUES
        (#{id},
        #{showId},
        #{fromUserId},
        #{toUserId},
        #{toId},
        #{content},
        #{like},
        #{status},
        #{createTime}
        )
    </insert>

    <select id="getCommentsList" resultType="com.ego14t.comments.pojo.UserComment">
        SELECT
            a.*,
            b.nickname,
            b.avatar
        FROM
            xinmusic_comments a
        LEFT JOIN xinmusic_base_user b ON b.userid = a.from_user_id
        WHERE
            a.show_id = #{showId}
        ORDER BY a.create_time
    </select>

    <select id="getComment" resultType="com.ego14t.comments.pojo.UserComment">
        SELECT
            a.*,
            b.nickname,
            b.avatar
        FROM
            xinmusic_comments a
        LEFT JOIN xinmusic_base_user b ON b.userid = a.from_user_id
        WHERE
            a.id = #{commentId}
    </select>


</mapper>