<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ego14t.user.mapper.MusiclistUserMapper">
  <resultMap id="BaseResultMap" type="com.ego14t.user.pojo.MusiclistUser">
    <id column="musicListID" jdbcType="VARCHAR" property="musiclistid" />
    <id column="userID" jdbcType="VARCHAR" property="userid" />
    <result column="musicList_name" jdbcType="VARCHAR" property="musiclistName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="musiclist_img" jdbcType="VARCHAR" property="musiclistImg" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    musicListID, userID, musicList_name, create_time, tags, description, musiclist_img, 
    `status`
  </sql>
  <select id="selectByExample" parameterType="com.ego14t.user.pojo.example.MusiclistUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from musiclist_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.ego14t.user.pojo.MusiclistUserKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from musiclist_user
    where musicListID = #{musiclistid,jdbcType=VARCHAR}
      and userID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ego14t.user.pojo.MusiclistUserKey">
    delete from musiclist_user
    where musicListID = #{musiclistid,jdbcType=VARCHAR}
      and userID = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ego14t.user.pojo.example.MusiclistUserExample">
    delete from musiclist_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ego14t.user.pojo.MusiclistUser">
    insert into musiclist_user (musicListID, userID, musicList_name, 
      create_time, tags, description, 
      musiclist_img, `status`)
    values (#{musiclistid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{musiclistName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{tags,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{musiclistImg,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ego14t.user.pojo.MusiclistUser">
    insert into musiclist_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="musiclistid != null">
        musicListID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="musiclistName != null">
        musicList_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="musiclistImg != null">
        musiclist_img,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="musiclistid != null">
        #{musiclistid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="musiclistName != null">
        #{musiclistName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="musiclistImg != null">
        #{musiclistImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ego14t.user.pojo.example.MusiclistUserExample" resultType="java.lang.Long">
    select count(*) from musiclist_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update musiclist_user
    <set>
      <if test="record.musiclistid != null">
        musicListID = #{record.musiclistid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.musiclistName != null">
        musicList_name = #{record.musiclistName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.musiclistImg != null">
        musiclist_img = #{record.musiclistImg,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update musiclist_user
    set musicListID = #{record.musiclistid,jdbcType=VARCHAR},
      userID = #{record.userid,jdbcType=VARCHAR},
      musicList_name = #{record.musiclistName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      tags = #{record.tags,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      musiclist_img = #{record.musiclistImg,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ego14t.user.pojo.MusiclistUser">
    update musiclist_user
    <set>
      <if test="musiclistName != null">
        musicList_name = #{musiclistName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="musiclistImg != null">
        musiclist_img = #{musiclistImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where musicListID = #{musiclistid,jdbcType=VARCHAR}
      and userID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ego14t.user.pojo.MusiclistUser">
    update musiclist_user
    set musicList_name = #{musiclistName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tags = #{tags,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      musiclist_img = #{musiclistImg,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where musicListID = #{musiclistid,jdbcType=VARCHAR}
      and userID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>