<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ego14t.user.mapper.UserInfoMapper">
    <select id="getUserInfo" resultType="com.ego14t.user.entity.BaseUserEntity">
        SELECT
            t.id,
            t.userid,
            t.nickname,
            t.gender,
            t.introduce,
            t.birth,
            t.area,
            t.avatar,
            t.create_time,
            t.update_time
        FROM
            xinmusic_base_user t
        WHERE
            t.userid = #{userid}
    </select>

    <update id="update" parameterType="com.ego14t.user.entity.BaseUserEntity">
        UPDATE xinmusic_base_user
        SET
        <if test="nickname != null and nickname != ''">
            nickname = #{nickname},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="introduce != null and introduce != ''">
            introduce = #{introduce},
        </if>
        <if test="birth != null and birth != ''">
            birth = #{birth},
        </if>
        <if test="area != null and area != ''">
            area = #{area},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar = #{avatar},
        </if>
        update_time = #{updateTime}
        WHERE
        userid = #{userid}
    </update>

    <insert id="create"></insert>

    <insert id="initMusiclist"></insert>


</mapper>